apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-backup-operator
  namespace: default
  labels:
    control-plane: redis-backup-operator
spec:
  selector:
    matchLabels:
      control-plane: redis-backup-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: redis-backup-operator
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
#        args:
#        - --leader-elect
        image: redis-backup-operator:v1.4
        name: redis-backup-operator
        env:
          - name: backup_image
            value: 'wqjeva423/s3cmd:v1.4'
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 20Mi
      serviceAccountName: redis-backup-operator
      terminationGracePeriodSeconds: 10
