
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: redisoperates.operator.bobfintech.com
spec:
  group: operator.bobfintech.com
  names:
    kind: Redisoperate
    listKind: RedisoperateList
    plural: redisoperates
    singular: redisoperate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Redisoperate is the Schema for the redisoperates API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RedisoperateSpec defines the desired state of Redisoperate
            properties:
              clusterName:
                description: Foo is an example field of Redisoperate. Edit redisoperate_types.go
                  to remove/update
                type: string
              failoverFlag:
                format: int32
                type: integer
            type: object
          status:
            description: RedisoperateStatus defines the observed state of Redisoperate
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
